*{
  margin: 0;
  padding: 0;
}

header {
  background-color: #palevioletred;
  color: white;
  padding: 2rem 37rem;
  min-height: 9vh;
  text-align: center;
  }

html, body {
  font-size: 18px;
  background-color: #efefef;
}

h1 {
  max-width: 940px;
  font-size: 2.5em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
  text-align: center;
}

.App {
  min-height: 100vh;
  display: flex; 
  flex: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contenedor-principal {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
